@media only screen and 
(max-width:1920px) 
{
        .indexNewsImage 
        {
                padding: 0 80px;
                border:none;
        }
        .indexNewsDate 
        {
                padding: 0 80px;
        }
        .indexBusinessModel 
        {
                margin: 30px 0 40px;
        }
        .indexBusinessParaMarginTop1 
        {
                
        }
}
@media only screen and 
(max-width:1740px) 
{
        .indexNewsImage 
        {
                padding: 0 50px;
        }
        .indexNewsDate 
        {
                padding: 0 50px;
        }
}
@media only screen and 
(max-width:1600px) 
{
        .indexLinkage 
        {
                padding: 300px 0 50px;
        }
}
@media only screen and 
(max-width:1515px) 
{
        .indexLinkage 
        {
                padding: 285px 0 50px;
        }
}
@media only screen and 
(max-width:1500px) 
{
        .indexBusinessParaMarginTop1 
        {
                padding: 285px 0 50px;
        }
}
@media only screen and 
(max-width:1410px) 
{
        .indexNewsImage 
        {
                padding: 0 10px;
        }
        .indexNewsDate 
        {
                padding: 0 10px;
        }

@media only screen and 
(max-width:1340px) 
{
        .indexBtnSize {
                width: 280px;
        }
}
@media only screen and 
(max-width:1324px) 
{
        .indexBusinessParaFontSize {
                font-size: 38px;
            }
}
@media only screen and 
(max-width:1300px) 
{
        .indexH1textAlign 
        {
                font-size: 35px;
        }
}
@media only screen and 
(max-width:1245px) 
{
        .indexLinkage 
        {
                padding: 250px 0 50px;
        }
}
@media only screen and 
(max-width:1199px) 
{
        .indexNewsImage {
                height: 250px;
        }
        .indexPutMarginBot
        {
                margin-bottom: 80px;
        }
}


@media only screen and (max-width: 1160px)
{
        .indexBtnSize {
                width: 250px;
        }
}

@media only screen and (max-width: 1100px)
{
        .indexH1textAlign {
                font-size: 32px;
            }
}

@media only screen and 
(max-width:1055px) 
{
        .indexLinkage 
        {
                padding: 210px 0 50px;
        }
}
@media only screen and (max-width: 1020px)
{
        .indexBtnSize {
                width: 230px;
        }
}

@media only screen and (max-width: 990px)
{
        .indexH1textAlign {
                font-size: 30px;
            }
}
/* @media only screen and (max-width: 960px)
{
        .indexBtnAlignCenter,
        .indexBtnAlignRight
        {
                text-align: center;
        }
} */
@media only screen and (max-width: 900px)
{
        .indexH1textAlign {
                font-size: 28px;
            }
}
@media only screen and (max-width: 767px)
{
        .indexBtnAlignCenter,
        .indexBtnAlignRight
        {
                text-align: center;
        }
        .indexBtnAlignCenter
        {
                margin-bottom: 20px;
        }
        .indexBtnAlignRight
        {
                margin-bottom: 20px;
        }
        .indexBtnSize {
                width: 350px;
        }
        .indexFBTwitterAlign {
                text-align: center;
        }
        .indexFbTwitter 
        {
                display: block;
                margin-top: 20px;
        }
}
@media only screen and (max-width: 700px)
{
        .indexH1textAlign {
                font-size: 26px;
        }
}

@media only screen and (max-width:550px)
{
        .indexH1textAlign {
                font-size: 22px;
        }
}

@media only screen and (max-width:432px)
{
        .indexH1textAlign {
                font-size: 20px;
        }
}

@media only screen and (max-width:375px)
{
        .indexH1textAlign {
                font-size: 18px;
        }
}