


body
{
    font-family: arial, kaiti !important;
}
/* Modal*/
.modal,
.noticeModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  .noticeHeader,
  .modalHeader
  {
      margin-bottom: 20px;
  }
  
  /* The Close Button */
  .close,
  .closeNoticeModal ,
  .closeNoticeModal1 ,
  .closeNoticeModal2 ,
  .closeNoticeModal3 ,
  .closeNoticeModal4 
  {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }

  .close:hover,
  .close:focus,
  .closeNoticeModal1:hover,
  .closeNoticeModal1:focus,
  .closeNoticeModal2:hover,
  .closeNoticeModal2:focus,
  .closeNoticeModal3:hover,
  .closeNoticeModal3:focus,
  .closeNoticeModal4:hover,
  .closeNoticeModal4:focus,
  .closeNoticeModal:hover,
  .closeNoticeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.mainNavbarBackgroundColor
{
    background-color:transparent;
}
.indexH1textAlign
{
    text-align: center;
    margin-top: 150px;
    font-size: 40px;
}
.indexStartButtonAlign
{
    margin-top: 40px;
}
.indexBtnAlignCenter
{
    text-align: left;
}
.indexBtnAlignRight
{
    text-align: right;
}
.indexBtnSize
{
    width: 300px;
    height: 50px;
    margin: 0 10px;
    border: 1px solid transparent;
}
.indexBtnStart
{
    background-color: #F7931A;
    color: white;
}
.indexBtnWallet
{
    background-color: white;
    border: 1px solid #F7931A;
    color: #F7931A;
}
.indexPlayButtonAlign
{
    text-align: center;
    margin-top: 70px;
}
.indexPlayButtonDisplay
{
    display: block;
    height: 50px;
    margin: 0 auto;
    padding: 0 0 0 65px;
    background: url(../img/indexPlayButton.png) left no-repeat;
    background-size: contain;
    border: none;
}
.indexFBTwitterAlign
{
    text-align: left;
}
.indexFbTwitter
{
    display: inline-grid;
    margin-top: 162px;
}
.indexFbTwitterSize
{
    width: 32px;
    height: 32px;
    margin: 3px;
}
.indexLinkage
{
    position: relative;
    padding: 315px 0 50px;
    background: url(../img/indexLinkage.png) top no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: 50px;
}
.indexLatestNewsAlign
{
    text-align: center;
}
.indexLatestNews
{
    color:#F7931A;
    font-weight: bold;
}
.indexCard
{
    margin: 0;
    border: 0 solid transparent;
}
.indexPutMarginBot
{
    margin-bottom: 0px;
}
.indexNewsImage
{
    height: 200px;
    min-width: -webkit-fill-available;
    object-fit: cover;
    border: 1px solid #00000014;
}
.indexNews
{
    margin-top: 80px;
}
.indexNewsDate
{
    color: #808285;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 15px;
}
.indexNewsDateDescription
{
    color: black;
    font-size: 22px;
    margin-top: 5px;
}
.indexBusinessModel
{
    margin: 120px 0 60px;
    color:#F7931A;
    font-weight: bold;
}
.indexBusinessPara
{
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.indexBusinessParaDesc
{
    color: #F7931A;
    font-size: 22px;
    padding: 0 26px;
    text-align: justify;
    margin: 30px auto 0;
    text-align-last: center;
}
.indexBusinessParaFontSize
{
    font-size: 40px;
}
.indexBusinessParaIcon
{
    max-width: 120px;
    max-height: 120px;
}
.indexBusinessParaMarginTop
{
    margin-top: 70px;
}
.indexBusinessParaMarginTop1
{
    margin-top: 130px;
}
.indexIntroduction
{
    margin-top: 80px;
}
.indexBlackColor
{
    color: black;
}
.indexWhiteColor
{
    margin-top: 5px;
    color: white;
}
.indexIntro
{
    max-width: 500px;
    max-height: 500px;
    width: calc(100% - 100px);
}
.indexIntroPara
{
    font-size: 24px;
    padding-right: 80px;
    text-align: justify;
}
.indexBlackBackground
{
    background-color: black;
    display: flex;
}
.indexFooterNavLink
{
    height:30px;
    width: 30px;
}
.indexMarginBottom
{
    margin-bottom: 170px;
}
.indexSignUp,
.indexSignUp:hover,
.indexSignUp:visited,
.indexSignUp:active,
.indexSignUp:link
{
    color: white;
    text-decoration: none;
    padding: 5px;
}

.removeLinksDecorations,
.removeLinksDecorations:hover,
.removeLinksDecorations:visited,
.removeLinksDecorations:active,
.removeLinksDecorations:link
{
    text-decoration: none;
}
.loginBackground
{
    max-width:  100%;
    z-index: -1;
}
.loginLogo {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    background: transparent;
    border: none;
    margin-left: 80px;
  }

.loginLogo,
.loginLogo:hover,
.loginLogo:visited,
.loginLogo:active,
.loginLogo:link
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
  .loginDisplayBackground
  {
      display: flex;
  }
  .loginWidth
  {
      max-width: 50%;
      width: 50%;
  }
  .loginRightSide
  {
      text-align: center;
  }
.loginHeader
{
    margin-top: 80px;
}
.loginInputmargin
{
    margin-top: 50px;
}
.loginInput
{
    text-align: left;
    margin-left: 100px;
}
.loginSelectCustom
{
    border: 0px solid;
    border-bottom: 1px solid black;
    width: 80%;
    padding: 8px 20px 14px 50px;
    background: url(../img/loginUsername.png) no-repeat scroll 7px 7px;
    background-position: 7px 1px;
    background-size: 4%;
    margin-bottom: 15px;
}
.loginInputStyle1
{
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 20px 8px 40px;
    width: 80%;
    background: url(../img/loginUsername.png) no-repeat scroll 7px 7px;
    background-size: 20px;
    margin-bottom: 15px;
    text-indent: 15px;
}
.loginInputStyle2
{
    border: none;
    border-bottom: 1px solid black;
    padding: 8px 20px 8px 40px;
    width: 80%;
    background-position: 7px 7px;
    background: url(../img/loginPassword.png) no-repeat scroll 7px 7px;
    background-size: 5%;
    text-indent: 15px;
}
.loginBackgroundEmail
{
    background: url(../img/loginEmail.png) no-repeat scroll 7px 7px;
    background-position: 7px 7px;
    background-size: 5%;
}
.loginBackgroundContact
{
    background: url(../img/loginContactNo.png) no-repeat scroll 7px 7px;
    background-position: 7px 1px;
    background-size: 4%;
}
.loginBackgroundPassword
{
    background-position: 7px 7px;
    background: url(../img/loginPassword.png) no-repeat scroll 7px 7px;
    background-size: 5%;
}
.loginInputStyle1::placeholder,
.loginInputStyle2::placeholder {
    color: gray;
    font-size: 15px;
  }
.loginCheckbox
{
    margin-top: 30px;
    text-align: left;
    margin-left: 100px;
}
.loginButton
{
    margin-top: 30px;
    border: none;
    background-color: #F7931A;
    border-radius: 30px;
    color: white;
    padding: 10px 80px;
    font-size: 25px;
}
.loginRegister
{
    margin-top: 30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.loginMargLeftReg
{
    text-align: -webkit-center;
    margin-top: 30px;
}
.loginPhoneNo
{
    background:none;
    padding: 8px;
}
.loginCountryCode
{
    background-size: 16%;
    padding: 8px 0 8px 30px;
}
.loginRegisterLink,
.loginRegisterLink:hover,
.loginRegisterLink:visited,
.loginRegisterLink:active,
.loginRegisterLink:link
{
    color:#F7931A;
}
.profileImage
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.profileMarginTop
{
    margin-top: 50px;
}
.profileMarginTop2
{
    margin-top: 20px;
}
.profileMarginTop3
{
    margin-top: 80px;
}
.profileDesc
{
    font-size: 20px;
    font-weight: 500;
}
.profileDescMarg
{
    margin-top: 20px;
}
.profileIncomeRec
{
    margin-top: 30px;
    background-color: #F7931A;
    color:black;
}
.profileBrightRow
{
    background-color: #FFCC99;
}
.profileDarkRow
{
    background-color: #FFB666;
}
.recommendIcons
{
    max-width: 550px;
    max-height: 70px;
    margin-top: 30px;
}
.recommendIntroPara
{
    font-size: 20px;
    font-weight: 600;
}
.recommendImgSize
{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}
.recommendMarginBottom
{
    margin-bottom: 90px;
}
.recommendNo
{
    font-size: 20px;
    font-weight: 600;
}
.qrDesc
{
    margin-top: 30px;
}
.qrCode
{
    margin-top: 30px;
}
.qrPadd
{
    padding:80px 150px 0;
}