@charset "utf-8";
/* CSS Document */
body{
	border: 0;
    margin: 0 auto;}
*{
	font-family: 'Titillium Web', Arial, Kaiti, sans-serif !important;
	box-sizing:border-box !important;}
a {
	text-decoration:none;}
a:focus, a:hover {
	text-decoration:none;
	cursor:pointer;
	}
.clear{
	clear:both;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
	border:0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean{
	border:0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
	border:0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
	border:0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	border:0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #13161f inset !important;
}
.absolute{
	position:absolute;}
.width100{
	width:100%;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.white-text{
	color:white;}
.display-none{
	display:none !important;}
.header-div {
    padding-top: 10px;
    padding-bottom: 10px;
	overflow: hidden;
    position: absolute;
}
.logo-img {
    width: 80px;
}
.logo-div {
    float: left;
}
.menu-right-div {
    float: right;
    width: calc(100% - 150px);
	text-align:right;
}
.menu-a {
    font-weight: 400;
    font-size: 21px;
    color: black;
    margin-left: 20px;
}
.a-hover:hover{
	color:#f7931a;
	transition:.15 ease-in-out;}
.left-div {
    float: left;
    width: 50%;
    padding-right: 2.5%;
    padding-top: 100px;
    padding-left: 7.5%;
}
.register-title{
	padding-bottom:25px;
	font-weight: 700;}
.inputa {
    background: none;
    width: 100%;
    font-size: 21px;
	border-top: 0;
    border-left: 0;
    border-right: 0;
	border-bottom: 1.2px solid white;
	z-index:2;
	padding-left:35px;
	color:white !important;

}

.seperate {
    clear: both;
    height: 50px;
}

.inputa:focus{
	border-bottom:1.2px solid #f4b11c;
	transition:.3s ease-in-out;}
.label-p {
    margin-top: -30px;
	z-index:-10;
	margin-bottom:0;
	position:relative;

}
.input-icon {
    width: 25px;
	margin-top: -60px;

}
.input-container1 {
    margin-bottom: 10px;
	text-align: left;
}
.input-container2 {
    margin-bottom: 20px;
	text-align: left;
}
.input-container3 {
    margin-bottom: 15px;
	text-align: left;
}
.input1:focus + .label-p1{
	margin-top: -60px;
	transition:.3s ease-in-out;
	font-size:15px;
	color:#f7931a;
	}
.input2:focus + .label-p2{
	margin-top: -60px;
	transition:.3s ease-in-out;
	font-size:15px;
	color:#f7931a;
	}

.country-code-input{
	width:130px;
	border: 0;
    background: none;
	border-bottom: 1.2px solid white;
	float:left;
	font-size:21px;
	padding-left:35px;
}
.mobile-input{
	width:calc(100% - 130px);
	border: 0;
	border-bottom: 1.2px solid white;
	float:left;
	font-size:21px;	
}
.input-container4 {
    margin-bottom: 15px;
	text-align: left;
}
.input-container5 {
    margin-bottom: 15px;
	text-align: left;
}
.input-container6{
	text-align: left;	
}
.checkbox-div {
    margin-left: 21px;
	text-align: left;
}

.register-button2 {
    background-color: #f7931a;
	color:white;
	font-size: 24px;
	padding: 10px 50px;
    border-radius: 30px;
	margin-top: 30px;
}.

.orange-hover{
    background-color: #f7931a;	
}

.orange-hover:hover{
    background-color: #ed7d03;
	transition:.15 ease-in-out;	
}

.orange-text-hover{
	color:#f7931a;	
}

.orange-text-hover:hover{
	color:#ed7d03;	
}

.mobile-input:focus, .country-code-input:focus{
	border-bottom:1.2px solid #f4b11c;
	transition:.3s ease-in-out;
} 

.mobile-input:focus .country-code-input{
	border-bottom:1.2px solid #f4b11c;
	transition:.3s ease-in-out;
} 

.mobile-input:focus + .country-code-input{
	border-bottom:1.2px solid #f4b11c;
	transition:.3s ease-in-out;
} 

.right-div {
    float: right;
    width: 50%;
	min-height: calc(100vh - 26px);
	background: #f7931a; /* Old browsers */
}
.footer1 {
    width: 40%;
	font-size: 14px;
	margin-top: 3px;
	font-family: arial, kaiti !important;
}
.footer2{
	width:20%;
	text-align:center;}
.footer3{
	width:40%;
	text-align:right;
	font-size: 14px;
	margin-top: 3px;}
.footer-class{
	padding-bottom:2px;
	overflow: hidden;
	margin-top: -2px;}
.footer-social {
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.opacity-hover:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.right-div-m{
	display:none;}
.register-div {
    overflow: hidden;
    display: flex;
}
.firefly-class{
	padding-bottom:0 !important;
	background-color: #13161f;
	overflow:hidden;
}
.white-text-a{
	color:white !important;}
.yellow-hover:hover{
	color:#f7931a !important;
	cursor:pointer;
	transition:.15s ease-in-out;}
.register-video {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
}
.switch-row{
	margin-top:70px;}
.language-a{
	text-align:right;}
.language-icon2{
	display:none;}
.language-a:hover, .language-p:hover{
	color:#f7931a;
	transition:.15s ease-in-out;}
.language-icon {
    width: 30px;
    margin-top: -3px;
    margin-right: 5px;
}
.language-p:hover .language-icon1{
	display:none;}
.language-p:hover .language-icon2{
	display:inline-block;}
.gif-p{
	text-align:center;}
.launching-p {
    text-align: center;
    font-size: 32px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	font-weight: 700;
}
.one-item-div {
    float: left;
    width: 30%;
	text-align: center;
}
.middle-one-item{
	margin-left:5%;
	margin-right:5%;}
.three-item-p {
    color: white;
    font-size: 23px;
}
.three-item-icon {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.yellow-button {
    background-color: #f7931d;
    color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-weight: 700;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 50px;
	border:2px solid #f7931d;
}
.yellow-button:hover{
	color:#f7931d;
	background-color:transparent;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.pre-register-input {
    width: 40%;
    margin-left: 30%;
    font-size: 21px;
    padding-left: 50px;
	background-color: rgba(255, 255, 255, 0.9);
    border: 0;
	padding-top:3px;
}
.pre-register-div{
	margin-top:100px;}
.yellow-icon-p {
    width: 50px;
    margin-left: 30%;
	position:relative;
}
.yellow-icon {
    width: 30px;
    margin-top: -62px;
    margin-left: 7px;
}
.ow-margin-top{
	margin-top:10px !important;}
.en-menu{
	font-size: 16px;
}
.bitcoin-video {
    width: 20%;
}
.ow-human-icon {
    margin-top: -30px;
    margin-bottom: 30px;
}
.ow-email-icon {
    margin-top: -30px !important;
}
.fill-up-space {
    width: calc(50% - 150px);
    height: 94px;
    margin-left: 0;
    float: left;
}
.yellow-left{
	float:left;}
.first-h1 {
    padding-top: 100px;
	margin-bottom: 30px;

}
.btcw-h1 {
    font-weight: 700;
}
.fill-small-space {
    float: left;
	width: calc(50% - 420px);
    height: 50px;
}

.yellow-box-width {
    float: left;
    width: 400px;
    font-size: 24px;
	padding-top: 5px;
    padding-bottom: 5px;
	font-weight: 700;
	margin-left: 5px;
    margin-right: 5px;

}

.yellow-box {
    background-color: #f7931a;
	border:2px solid #f7931a;
}
.yellow-box:hover {
    background-color: #ed7d03;
	border:2px solid #ed7d03;
	transition:.15s ease-in-out;
	cursor:pointer;	
}

.yellow-line-box{
	border:2px solid #f7931a;	
	color:#f7931a;

}
.yellow-line-box:hover{
	border:2px solid #ed7d03;	
	color:#ed7d03ack;
	transition:.15s ease-in-out;
	cursor:pointer;			
}
.fb-icon2, .tw-icon2{
	display:none;}
.social-icon-div {
    position: absolute;
    right: 7.5%;
    margin-top: -60px;
}
.fb-p {
    margin-bottom: 10px !important;
}
.fb-p:hover, .tw-p:hover{
	cursor:pointer;}
.fb-p:hover .fb-icon1{
	display:none;
	transition:.15s ease-in-out;}
.fb-p:hover .fb-icon2{
	display:block;
	transition:.15s ease-in-out;}
.tw-p:hover .tw-icon1{
	display:none}
.tw-p:hover .tw-icon2{
	display:block;}
.fill-small-space-m{
	display:none;}
.video-div {
    margin-top: 50px;
}
.button-css {
    background: transparent;
	font-size: 21px;
    font-weight: 700;
}
.play-button {
    width: 50px;
    margin-right: 15px;
}
.button-css:hover{
	color:#f7931a;	
}
.hover-2{
	display:none;}
.hover-container:hover{
	cursor:pointer;}
.hover-container:hover .hover-1{
	display:none;
	transition:.15s ease-in-out;}
.hover-container:hover .hover-2{
	display:inline-block;
	transition:.15s ease-in-out;}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: transparent;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
}

.youtube-video {
    width: 100%;
    height: 80vh;
}

/* The Close Button */
.close-style{
    color: black;
    float: right;
    font-size: 54px;
    font-weight: bold;
    position: absolute;
    right: 7%;
    margin-top: -7vh;
    z-index: 5;
}


.close2-style:hover,
.close2-style:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition:.15s ease-in-out;
}
.element-div {
    margin-top: 100px;
}
.yellow-text{
	color:#f7931a;}
.yellow-text-important{
	color:#f7931a !important;}
.separate-margin-top{
	margin-top:50px;}
.more-separate-margin-top{
	margin-top:100px;}
.date-p {
    color: #c1c1c1;
    text-align: left;
    margin-top: 10px;
	font-size: 16px;
}
.news-p {
    text-align: left;
    font-weight: 700;
    color: black;
    font-size: 24px;
    margin-top: 0;
}
.news-h1 {
    margin-bottom: 50px;
}
.weight-700{
	font-weight:600;
	margin-bottom: 0;}
.des-p {
    font-size: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
	font-weight:600;
}
.margin-bottom{
	margin-bottom:30px;}
.width50{
	width:50%;}
.left-text-div {
    font-size: 24px;
    font-weight: 600;
    padding-right: 20%;
    text-align: justify;
	width: 60%;
}
.right-img-div {
    width: 40%;
}
.black-text{
	color:black;}
.justify-three{
	text-align:justify !important;
	text-align-last:center !important;}
.extra-padding-bottom{
	padding-bottom:100px;}
.white-hover:hover{
	color:white;
	transition:.15s ease-in-out;}
.numbering {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}
.margin-0{
	margin:0 !important;}
.second-numbering {
    margin-top: 65px;
}

/*Menu*/
.menu-icon {
	display:none;
    color: #f7931a;
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    right: 0;
    background-color:#1a2330;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	height:100vh;
	-webkit-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.63);
	-moz-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.63);
	box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.63);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
	cursor: pointer;
}

.sidenav a:hover {
    color: #f7931a;
	transition:.15s ease-in-out;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 35px;
    cursor: pointer;
}
.closebtn {
    font-size: 55px !important;
    margin-top: -40px !important;
    right: 20% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
	padding-top:0 !important;
}
.sidenav a {
    padding-top: 0;
	text-align: left;
	height: 75px;
    padding-bottom: 20px;
}
.m-menu{
	display:none;
	color:white !important;}
/*End of Menu */
.edit-icon {
    width: 30px;
}
.right-edit {
    float: right;
	margin-right: -60px;
}
.left-details {
    width: calc(100% - 60px);
}
.yellow-a{
	color:#F7931A;}
.yellow-a:hover{
	transition:.15s ease-in-out;
	color:black;
	
}
.yellow-text:hover{
	color:#F7931A;	
}
.profile-table{
	word-break:break-all;}
.profile-table td, profile-table th{
	border:0 !important;
	border-right: 2px solid white !important;}
.profile-table thead th{
	border:0 !important;
	border-right: 2px solid white !important;}
.width60{
	width:60%;
	margin-left:auto;
	margin-right:auto;}
.modal-content-white{
	background-color:white;
	padding-bottom: 30px;
	height: 80vh;
    overflow: auto;}
.word-break{
	word-break:break-all;}
.qr{
	text-align:center;
	width:200px;
	margin-left:auto;
	margin-right:auto;}
.qr-img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.yellow-text{
	color:#f7931a !important;}
.transparent-table {
    width: calc(100% - 60px);
    float: left;
	word-break: break-all;
}
.link-h4{
	display:none;}
.profile-table td:hover{
	background-color:inherit !important;}
.edit-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.edit-h4-title {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: left !important;
}
.inputb {
    padding-left: 5px;
}
.inputb-country{
    padding-left: 5px;	
}
.inputb-mobile{
    padding-left: 5px;		
}
.checkboxb {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 19px;
    font-weight: 700;
}
.edit-table{
	width:100%;}
.edit-table td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bitcoin-icon {
    width: 70px;
}
.bit-h2 {
    text-align: center;
    font-size: 46px;
    font-weight: 900;
}
.bit2-h2 {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
    font-weight: 600;
}
.qr-p {
    text-align: center;
    font-size: 24px;
}
.qr-p2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.fill-up-space1 {
    width: calc(50% - 200px);
    height: 70px;
    float: left;
}
.share-link {
    word-break: break-all;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.left-recommend-div {
    width: 50%;
    float: left;
}
.right-recommend-div {
    float: right;
	    width: 50%;
}
.recommend-table{
	width:100%;
	margin-bottom: 30px;}
.recommend-table p {
    font-size: 21px;
}
.separate-title{
	margin-bottom:30px;}
.or-h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}
.or-div {
    overflow: hidden;
}
.fill-space-1 {
    float: left;
    width: calc(50% - 50px);
    height: 65px;
    border-bottom: 2px solid #c7c7c7;
}
.or-only {
    width: 50px;
    float: left;
}
.left-fill-space{
	margin-right: 25px;
}
.right-fill-space{
	margin-left: 25px;
}
.qr-img2 {
    width: 200px;
}
.copy-yellow-line {
    border: 2px solid #f7931a !important;
    background-color: transparent;
	margin:0;
}
.copy-yellow-line:hover {
    border: 2px solid #ed7d03 !important;	
}
.ow-height {
    height: 60px;}
.no-margin{
	margin:0 !important;}
.hover-2a{
	display:none;}
.hover-container2:hover .hover-1a{
	display:none;}
.hover-container2:hover .hover-2a{
	display:block;}	
.copy-button {
    background: transparent;
}
.ow-left-details {
    width: 100% !important;
}	
.recommend-tr{
	height:80px;}
.orange1-text{
	color:#f7931a;}
.orange1-text:hover{
	color:#ed7d03;
	transition:.15s ease-in-out;}
.orange2-text{
	color:#f7931a !important;}
.orange2-text:hover{
	color:#ed7d03 !important;
	transition:.15s ease-in-out;}
.third-td{
	width:calc(78% - 40px);	
}
.four-td{
	width:40px;
}
.ow-transparent-table{
	width:100% !important;}
.table100 {
    width: 100%;
	font-size: 18px;
}
.orange-thead {
    background-color: #f7931a;
}
.table100 td{
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
	border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
	word-break: break-all;
	
}
.table100 th{
	padding-top:8px;
	padding-bottom:8px;
	padding-left:8px;
	padding-right:8px;
    border-left: 1px solid white;
    border-right: 1px solid white;
	word-break: break-all;
	
}
.th-1{
	border-left:1px solid #f7931a !important;}
.th-7{
	border-right:1px solid #f7931a !important;}
.circle-span{
    height: 10px;
    width: 10px;
    float: left;
    margin-top: 8px;
    border-radius: 5px;
    margin-right: 5px;
}
.color-invest{
	color:#f7931a;}
.color-invest-div{
	background-color:#f7931a;}
.color-span {
    font-size: 18px;
	float: left;
	margin-right: 30px;
}
.color-free-btc-div{
	background-color:#2bb673;
}
.color-freebtc{
	color:#2bb673;
}
.color-reward-div{
	background-color:#7f3f98;}
.color-reward{
	color:#7f3f98;}
.color-recommend-div{
	background-color:#27aae1;	
}
.color-recommend{
	color:#27aae1;	
}
.color-downline-div{
	background-color:#1c75bc;	
}
.color-downline{
	color:#1c75bc;	
}
.color-other-div{
	background-color:#ff2266;	
}
.color-other{
	color:#ff2266;	
}
.color-div {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 40px;
}
.table-button{
	font-size: 21px !important;
}
.textarea-reason {
    width: 100%;
    min-height: 120px;
	font-size:21px;
}
.form-h4 {
    text-align: left;
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 0;
}
.ow-close2{
	right:25.5%;
	margin-top: -15px;}
.ow-modal2{
	padding-top:5vh;}
.ow-modal-width{
	width:50% !important;
	height: 90vh;}
.invest-btn {
    width: 400px;
    border-radius: 0;
    float: left;
}
.withdraw-btn {
    width: 400px;
    border-radius: 0;
    float: left;
	border:2px solid #f7931a !important;
	background-color:transparent;
	color:#f7931a;
	float:left;
}
.withdraw-btn:hover {
	border:2px solid #ed7d03 !important;
	color:#ed7d03;
	background-color:transparent;	
}
.padding-0{
	padding: 0 !important;}
.plan-a-h1{
	margin-top: 20px;
    margin-bottom: 20px;
}
.two-column-img {
    width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
}
.width-two-column1 {
    width: 20%;
    margin-left: 25%;
    margin-right: 5%;
}
.width-two-column2 {
    width: 20%;
    margin-right: 25%;
    margin-left: 5%;
}
.two-column-p {
    text-align: center;
    font-size: 18px;}
.plan-a-h2{
	margin-bottom: 20px;
}
.four-column-div {
    float: left;
    width: 20%;
}
.middle-four {
    margin-left: 5%;
    margin-right: 5%;
}
.four-column-img {
    width: 80%;
    margin-left: 10%;
}
.plan-a-h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}
.four-column-container {
    margin-top: 40px;
}
.width50-right-div {
    width: 50%;
    float: left;
    padding-left: 10%;
}
.width50-left-div{
	width:50%;
	float:left;}
.simple-table {
    font-size: 18px;
    font-weight: 600;
}
.two-div-container{
	padding-bottom:40px;}
.ow-close4{
	right: 10.5%;
    margin-top: -20px;}
.four-column-img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
}
.simple1 {
    padding: 0;
    vertical-align: top;
}
.profile-divider1 {
    margin-top: 30px;
    margin-bottom: 50px;
}
.profile-divider2 {
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-divider3 {
    margin-top: 30px;
}
.profile-divider4{
	margin-top:50px;}
.padding-top-bottom{
	padding-top:40px;
	padding-bottom:40px;
	overflow:hidden;
	
}
.three-column-div {
    width: 28%;
    min-height: 350px;
	text-align:center;
	float:left;
	margin-bottom: 60px;
	-webkit-box-shadow: 5px 3px 12px 5px rgba(193,193,193,0.8); 
	box-shadow: 5px 3px 12px 5px rgba(193,193,193,0.8);
	border-radius:30px;
	color:black;
}
.three-column-div:hover{
	cursor:pointer;
	background-color:#f7931d;
	transition:.15s ease-in-out;
	color:white;}
.middle-div {
    margin-left: 8%;
    margin-right: 8%;
}
.three-column-img {
    width: 40%;
	margin-top: 30px;
    margin-bottom: 20px;

}
.three-column-h3 {
    font-weight: 600;
    font-size: 36px;
}
.three-column-p {
    font-size: 24px;
}
.hover02{
	display:none;}
.hover-container-01:hover .hover01{
	display:none;}
.hover-container-01:hover .hover02{
	display:inline-block;}
.cursor-normal{
	cursor:default !important;}
.ow-modal10 {
    background-color: transparent !important;
}
.ow-modal10a {
    width: 300px !important;
    height: auto !important;
    padding-bottom: 10px !important;
	padding-top:10px !important;
	-webkit-box-shadow: 5px 3px 12px 5px rgba(86, 86, 86, 0.61);
    box-shadow: 5px 3px 12px 5px rgba(86, 86, 86, 0.61);
	border-radius:10px;
	border:0 !important;
}
.btn-css {
    background: transparent;
}
.extra-space {
    margin-left: 15px;
}
.action-btn-img {
    width: 30px;
}
.box-box-space {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
textarea:focus {
    box-shadow: inset 0 1px 1px rgb(247, 147, 26), 0 0 8px rgb(247, 147, 26) !important;
    border-color: rgba(247, 147, 26, 0.61) !important;
    outline: 0 !important;
}
.ow-orange-line{
	border-radius:0;}
.small-padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
}
.table100{
	margin-top:10px;}
.filter-select{
	border-bottom:0 !important;
	padding-left:0 !important;
	
}
.filter-select:hover{
	border-bottom:0 !important;
	
}
.login-width {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.min-height {
    min-height: calc(100vh - 21px);
}
.input-container1, .input-container5{
	text-align:left;}
.button-width{
	min-width: 300px;
}
::-webkit-input-placeholder { /* Edge */
  color: #f7f7f7;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f7f7f7;
}

::placeholder {
  color: #f7f7f7;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f7f7f7 !important;
  color: #f7f7f7 !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #f7f7f7 !important;
  color: #f7f7f7 !important;	
}
.splash-div {
    background-color: #12171d;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.splash-img {
    width: 500px;
    margin-top: calc(50vh - 290px);
}
.mobile-input{
	background-color:transparent;}
.register-notice {
    text-align: left;
    font-size: 16px;
	margin-top: -20px;
	color:#e0e0e0;
}
#noticeText {
    font-size: 18px;
}
.edit-margin {
    margin-bottom: 0;
}
.qr-h4 {
    margin-top: 10px;
}
.width-special {
    width: 40%;
    margin-left: 30%;
}
.menu-content-distance {
    padding-top: 80px;
}
.profile-data-p {
    font-size: 24px;
}
.star-img {
    width: 25px;
}
.first-profile-div {
    float: left;
	width: calc(50% - 200px);
    padding-right: 5%;
}
.third-profile-div {
    float: right;
    width: 400px;
    text-align: right;
}
.grey-span {
    color: #bbbbbb;
}
.green-dot {
    width: 18px;
    height: 18px;
    background-color: green;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;}
.next-to-green{
	display:inline-block;}

.second-profile-div{
	float:left;
	text-align:center;
	width:400px;}
.edit-icon3{
    width: 25px;
    margin-top: -5px;
    margin-left: 15px;
}
.clock {
  height: 70px;
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  line-height: 60px;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  width:235px;  
  margin-left: 82.5px;
}

.clock::before, .clock::after {
  content: '';
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
}

.clock > div {
  display: flex;
}

.tick {
    line-height: 52px;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}
.neon-text {
  color: #00ffff;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60px);
  }
}

.plan-a-box {
    width: 45%;
    margin-right: 5%;
	float:left;
	overflow:hidden;
}
.two-item-distance {
    margin-top: 50px;
}
.dark-box {
    width: 45%;
    float: left;
}
.dark-box {
    width: 47.5%;
    box-sizing: border-box;
    float: left;
    padding: 30px 10px;
    min-height: 600px;
    background-color: #1a2330;
    border-radius: 20px;
	background-position:bottom;
	background-size:cover;
	margin-bottom: 50px;
	text-align: center;
}
.box-img {
    width: 40%;
    margin-bottom: 20px;
}
.profile-h4 {
    font-size: 42px;
    margin-bottom: 35px;
}
.box-title {
    font-size: 19px;
	margin-bottom: 2px;
}
.box-big-font {
    font-size: 34px;
    font-weight: 600;
    margin-top: 0;
}
.separate-distance {
    margin-top: 30px;
}
.graph-bg{
	background-image:url(../img/sherry/graph-bg.png);}
.tree-bg{
	background-image:url(../img/sherry/tree-bg.png);}
.star-bg{
	background-image:url(../img/sherry/star-bg.png);}
.second-dark {
    margin-left: 5%;
}
.y-width {
    width: 100%;
    margin-bottom: 15px;
    font-size: 21px;
}
.plan-b-box{
	margin-left:5%;
	margin-right:0 !important;}
.margin-btm-0{
	margin-bottom:0 !important;}
.learn-more{
	color:#f7931a !important;}
.learn-more:hover{
	color:#ed7d03 !important;
	cursor:pointer;
	transition:.15s ease-in-out;}
.dark-bg{
	background-color:#1a2330 !important;
	color:white !important;
	border:0;}
.dark-bg span{
	color:white !important;
	cursor:pointer;}
.dark-bg span:hover{
	color:#f7931a !important;
	transition:.15s ease-in-out;}

/*::-webkit-scrollbar {
width: 0px; 
background: transparent; }

/* optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
background: white;
}  */
.register-form option{
	color:grey;}
.small-dark {
    min-height: 420px !important;
    margin-bottom: 10px;
}
.first-dark-box {
    min-height: 790px !important;
    margin-bottom: 40px;
}
.small-dark2 {
	min-height:360px !important;
    margin-bottom: 40px;
}
.tac-button {
    color: white;
	border-radius: 3px;
    font-size: 21px;
}
.next-to-btn-input{
    width: calc(100% - 120px);
    margin-right: 20px;	
	font-size: 21px;
	float:left;
}
.mtop-0{
	margin-top:0 !important;}
.tac-button1{
	float:right;}
.white-text-table{
	color:white !important;}
.white-text-important{
	color:white !important;}
.button-y-width{
	width:300px !important;}
.qr-h4-a{
	padding-top:40px;}
.qr-p5 {
    text-align: center;
	word-break:break-all;
}
.fill-space3 {
    float: left;
    width: calc(50% - 150px);
    height: 30px;
}
.invest-button1 {
    float: left;
}
.button-space-div {
    width: 300px;
    float: left;
}
.sp-p5{
    text-align: left;
    margin-top: 50px;
}
.button-div-distance {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 0;
}
.reconfirm-h4 {
    width: 85%;
    margin-left: 7.5%;
    padding-top: 30px;
    word-break: break-all;
}
.copy-yellow-line3 {
    border: 2px solid #f7931a !important;
    background-color: transparent;
	margin-top: 0 !Important;}
.copy-yellow-line3:hover{
    border: 2px solid #ed7d03 !important;
    background-color: #ed7d03;	
}
.notice-img-p {
    text-align: center;
}
.notice-img {
    width: 200px;
}
.notice1-p {
    text-align: center;
    font-size: 27px;
    margin-top: 50px;
}
.large-header {
   position: fixed;
   width: 100%;
   height:100vh !important;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: -10;
   background-image:url(../img/sherry/stellar.jpg);   
}
.big-container1 {
    width: 100%;
    height: 100vh;
    overflow-y: initial;
}
.edit-password-div {
    width: 200px !important;
    border: 2px solid #f7931a !important;
    background-color: transparent;
    color: #f7931a;
	text-align:center;
}
.edit-password-div:hover {
	transition:.15s ease-in-out;
	border: 2px solid #ed7d03 !important;
	color: white;
    background-color: #ed7d03;	
}
.actual-width4 {
    width: 300px;
	float:left;
}
.fill-space4{
	width:calc(50% - 150px);
	float:left;
	height:101px;}
.download-p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
.little-mtop {
    margin-top: 30px;
}
.input-icon-eye {
    float: right;
    margin-top: -28px;
}
.button-icon-eye {
    background-color: transparent;
    padding: 0;
	margin-top: 5px;
    position: absolute;
    right: 35.5%;
}
.password-input{
	padding-right:40px;}
.button-icon-eye2 {
    right: 22.5% !important;
    margin-top: 0;
}
.middle-button-p {
    text-align: center;
}
.fill-space-200 {
    width: calc(50% - 100px);
    height: 50px;
    float: left;
}
.min-height-container {
    min-height: 320px;
}
.special-mheight {
    min-height: 550px !important;
}
.special-h4{
	margin-top:20px !important;}
.c-td1{
	word-break:keep-all !important;}
.dark-table {
    background-color: #1a2330;
    width: 100%;
	font-size: 21px;
	word-break:break-all;
	overflow-y:auto;}
.dark-table td {
    padding: 2px 10px;
	border: 0.25px solid white;
}
.dark-table th {
    padding: 2px 10px;
	border: 0.25px solid white;
}
.tr2{
	background-color:#384558;}
.table2-1, .table2-2, .table2-3 {
    word-break: normal;
}
.menu-modal-output {
    padding: 0 !important;
}
.menu-inner-modal {
    width: 100% !important;
    height: 100vh !important;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}
.new-menu-a {
    font-size: 21px;
    color: white;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
	margin-bottom:10px;
}
.menu-close-style {
    right: 7.5% !important;
	z-index: 10;
}
.first-menu-p {
    margin-top: 50px !important;
}
.new-menu-p {
    margin-bottom: 0;
	line-height:7vh;
	text-align:center;}
.span-height-p {
    height: 80px;
    width: 80%;
    margin: 0;
}
.bigger-title{
    margin-top: 50px;
    font-size: 32px;
}
.profile-box-mheight {
    min-height: 450px;
}
.withdraw-h4{
	padding-top:30px;}
.recommend-table2{
	margin-bottom:30px;}
.disabled-btn {
    background-color: grey !important;
    border: 2px solid grey !important;
}
.disabled-btn:hover {
    background-color: grey !important;
    border: 2px solid grey !important;
	cursor:auto !important;}
.disabled-input{
    color: grey !important;
    border-bottom: 1.2px solid grey !important;
}
.disabled-input:hover{
    border-bottom: 1.2px solid grey !important;	
}
.no-padding-left{
	padding-left:0;}
.position-relative-important{
	position:relative !important;}
.profile-checkbox{
	vertical-align:text-top;}
.search-input-div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.register-ref-p {
    font-size: 21px;
    padding-left: 35px;
    border-bottom: 1px solid white;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ref-img{
	margin-top: -95px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  margin-left:2%;
  margin-bottom:30px;
}

/* Style the buttons inside the tab */
.tab button {
  float: left;
  border-left: 2px solid #f7931a;
  border-top: 2px solid #f7931a;
  border-bottom: 2px solid #f7931a;
  border-right: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:white;
  width:8.9%;
  text-align:center;

}
.last-button{
  border-right: 2px solid #f7931a !important;	
	}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f7931a;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7931a;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding:0;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.display-it{
	display:block;}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.ow-button-en{
	width:250px !important;
	padding-left:0;
	padding-right:0;}

.edit2-h4{
    word-break: normal;	
}

.ow-button-en2{
	width:200px !important;
}

.ow-mtop3{
	margin-top: -35px !important;
}
.normal{
	word-break:normal !important;}
.livetrade-bg{
	overflow:hidden;
	width:100%;
	background-color:#001855;
	
}
.live-blue-text{
	color:#34e0f7;
	
}
.live-mtop{
	margin-top:80px;}
.live-bold{
	font-weight:600 !important;}
.live-first-table{
	margin-top:30px;
	background-color:#001033;
	border:0;
	border-radius: 25px;}
.live-first-table td{
	border:0;
	}
.live-first-table td, .live-first-table th{
	border:0;
	word-break:normal !important;}
.live-first-table th{
	border-bottom: 0.15px solid white;
	background-color:#000f28;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	padding-top: 15px;
    padding-bottom: 10px;}
.live-first-table > tr:last-child > td {
	padding-bottom:15px;}	
.first-column{
	padding-left:20px !important;}
.last-column{
	padding-right:20px !important;}
.green-buy{
	color:#00a551;}
.red-sell{
	color:#ff3939;}
.live-three-div {
    float: left;
    width: 32%;
    border-radius: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.live-half-top{
	background-color:#001033;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 5px;
    padding-bottom: 30px;}	
.live-half-bottom{
	background-color:#000f28;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding-top: 10px;
    padding-bottom: 5px;}
.live-three-middle{
	margin-left:2%;
	margin-right:2%;}
.live-big-h1 {
    font-weight: 700;
    font-size: 48px;
}
.platform-logo {
    width: 120px;
	margin-top: 10px;
}	
.live-half-p {
    color: white;
    font-size: 24px;
}
.p-span{
	margin-right:10px;}	
.gain-h1{
	margin-bottom:30px;}
table.live-first-table:nth-child(2) tr:nth-child(2)	td{
	padding-top:10px;}
.live-pbottom{
	padding-bottom:80px;}
.notice-box {
    width: 60% !important;
    min-height: 0 !IMPORTANT;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 350px;
    float: none;
    margin-top: 50px;
}
.notice-box-p {
    font-size: 24px;
    text-align: left;
	color: white !important;
}
.notice-title {
    color: white;
    text-align: center;
    margin-top: 20px;
}
.tutorial-p {
    margin-bottom: 20px;
}
.understand-btn{
	margin-left:auto;
	margin-right:auto;
	padding-left:20px !important;
	padding-right:20px !important;
	padding-bottom: 5px !important;}
.tutorial-title{
	font-size:24px;
	font-weight: 700;
	
}
.pop-out-a{
    color: #f7931a !important;
    text-decoration: underline !important;
}
.pop-out-a:hover{
	color:#ed7d03 !important;
	transition:0.15s ease-in-out !important;}
.copy-btn {
    background: none;
}
.copy-icon3 {
    width: 30px;
    margin-left: 10px;
}
.notice-date-p {
    font-size: 18px !important;
    color: grey !important;
}
@media all and (max-width: 1500px){	
.two-item-distance {
    margin-top: 30px;
}	
.dark-box{
	min-height:520px;}
.profile-h4 {
    font-size: 36px;}
.small-dark {
    min-height: 380px !important;}
.small-dark2 {
    min-height: 340px !important;}
.first-dark-box {
    min-height: 730px !important;}
.notice-img {
    width: 150px;
}	
.notice1-p {
    margin-top: 30px;
}
.notice-box {
    width: 70% !important;
	padding-bottom: 300px;}
}

@media all and (max-width: 1450px){
.three-column-div{
	min-height: 300px;	
}	
.third-profile-div {
    width: 370px;	}
.profile-data-p {
    font-size: 21px;
}
}

@media all and (max-width: 1415px){	
.third-profile-div, .second-profile-div{
	width: 300px;	
}
.clock{
	margin-left: 32.5px;	
}
.first-profile-div {
    width: calc(50% - 150px);
    padding-right: 3%;
}
}
@media all and (max-width: 1400px){	
.launching-p{
	font-size:27px;}
.three-item-p{
	font-size:21px;
	
}
.left-text-div{
	padding-right: 10%;
    width: 50%;
}
.right-img-div {
    width: 50%;
    padding-left: 5%;
}
.profile-data-p {
    font-size: 21px;
}
.tac-button{
	font-size:18px;}
}
@media all and (max-width: 1350px){
.withdraw-table h4 {
    font-size: 18px;
    padding: 0 !important;
    margin: 0 !important;
}
.withdraw-table input {
    font-size: 18px;
    padding: 0 !important;
    margin: 0 !important;
}


}
@media all and (max-width: 1300px){
.ow-modal-width, .ow-modal-width2 {
    width: 70% !important;}	
.ow-close2 {
    right: 16%;
}	
.width50-left-div {
    width: 70%;}
.width50-right-div {
    width: 30%;
    padding-left: 0;
}	
.ow-modal10a {
    width: 300px !important;}
.small-dark {
    min-height: 370px !important;
}
.small-dark2 {
    min-height: 320px !important;
}
.first-dark-box {
    min-height: 700px !important;
}
.profile-box-mheight {
    min-height: 400px;
}
.menu-a{
	font-size: 18px;
}
}
@media all and (max-width: 1250px){	
.first-h1{
    width: 80%;
    margin-left: 10%;	
}
.action-btn-img {
    width: 25px;
}
.extra-space {
    margin-left: 7px;
}

}
@media all and (max-width: 1200px){	
.logo-img {
    width: 60px;
}
.header-div {
    padding-top: 0px;
    padding-bottom: 5px;
}
.footer-social {
    width: 15px;
    margin-left: 7px;
    margin-right: 7px;
}	
.footer1, .footer3 {
    font-size: 12px;
    margin-top: 4px;
}
.footer-class {
    padding-bottom: 1px;
}
.right-div{
	min-height: calc(100vh - 25px);
}
.left-div{
	width: 50%;
}
.register-title{
	    font-size: 31px;
}	
.inputa{
	    font-size: 18px;
}
.register-button2 {
    font-size: 21px;
    padding: 5px 50px;
    margin-top: 20px;
}
.loginRegister {
    margin-top: 20px;
}	
.left-div{
	padding-top: 50px;
}
.register-video {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.yellow-button{
	font-size: 21px;
}
.pre-register-input {
    width: 60%;
    margin-left: 20%;}
.yellow-icon-p{
    margin-left: 20%;	
}
.ow-margin-top {
    margin-top: -20px !important;
}
.en-menu {
    font-size: 14px;
}
.news-p{
	font-size:21px;}
.left-text-div{
	font-size:22px;}
.textarea-reason{
	font-size:18px;	
}
.form-h4 {
    font-size: 32px;
    margin-bottom: 20px;}
.menu-a{
    font-size: 17px;	
}
.header-div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile-data-p {
    font-size: 19px;
}
.y-width{
	font-size:18px;}
.dark-box {
    min-height: 480px;
}
.edit-password-div{
	width: 185px !important;
    text-align: center;
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.fill-space-200 {
    width: calc(50% - 92px);}
.bigger-title {
    font-size: 27px;
}	
.register-ref-p {
	font-size:18px;}
.ow-button-en{
	width:250px !important;}
.ow-button-en2{
	width:185px !important;
}
.mini-top {
    min-height: 58px;
}
.live-big-h1{
	font-size: 36px;
}
.platform-logo {
    width: 85px;}
.live-half-top{
    padding-bottom: 20px;	
}
.live-half-p{
	font-size: 18px;	
}
.live-half-bottom{
    padding-bottom: 2px;	
}
.notice-box {
    width: 100% !important;
    padding-bottom: 350px;
}
.notice-box-p {
    font-size: 21px;}
}



@media all and (max-width: 1150px){
.spcial-box-title {
    min-height: 60px;
}
.star-img {
    width: 22px;
}
}
@media all and (max-width: 1110px){
.profile-data-p {
    font-size: 18px;
}	
.menu-a {
    font-size: 16px;
	margin-left: 12px;
}
}
@media all and (max-width: 1100px){
.social-icon {
    width: 30px;
}
.fb-p {
    margin-bottom: 5px !important;
}
.social-icon-div{
	right: 4%;
}
.first-td {
    width: 25%;
}
.third-td {
    width: 73%;
}
.login-width {
    width: 45%;}
.plan-a-box {
    width: 47%;
    margin-right: 3%;}
.plan-b-box {
    margin-left: 3%;
    margin-right: 0 !important;
}
.profile-h4 {
    font-size: 32px;
    margin-bottom: 20px;
}
.button-icon-eye{
	right: 31.5%;	
}
.dark-table {
    font-size: 18px;
}
}
@media all and (max-width: 1080px){
.clock {
    height: 50px;
    font-size: 40px;
	width: 155px;
	margin-left: 21.25px;}
.second-profile-div {
    width: 200px;
}
.first-profile-div {
    width: calc(50% - 100px);}
@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
}
@media all and (max-width: 1050px){
.edit-div {
    width: 100%;}
.plan-a-box {
    width: 100%;
    margin-right: 0;}
.box-img {
    width: 20%;}
.plan-b-box {
    margin-left: 0;}
.dark-box {
    min-height: 500px !important;
}
.small-dark {
    min-height: 360px !important;
}
.small-dark2 {
    min-height: 320px !important;
}
.b-box{
	min-height:690px !important;}
.button-icon-eye2 {
    right: 7.5% !important;}
.spcial-box-title {
    min-height: 0;
}
.min-height-container {
    min-height: 250px;
}
.a-box1 {
    min-height: 650px !important;
}
}
@media all and (max-width: 1000px){
.element-div {
    margin-top: 50px;
}
.left-text-div {
    padding-right: 5%;}
.numbering {
    font-size: 21px;}
.table100 {
    font-size: 15px;
}
.color-span {
    font-size: 15px;}
.circle-span{
    margin-top: 5.5px;	
}
.color-div{
    padding-top: 5px;	
}
.color-span{
	margin-right:20px;}
.table-button {
    font-size: 18px !important;
}
.four-column-div {
    width: 45%;
	margin-right:0;
	margin-left:0;
}
.second-four{
	margin-left:10%;}
.four-column-img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 15px;
}
.two-column-p{
	margin-bottom: 15px;	
}
.splash-img {
    width: 300px;
    margin-top: calc(50vh - 180px);
}
.search-input-div {
    width: 50%;
}
.tab{
	margin-left: 1.5%;	
}
.tab button{
    width: 8.95%;
	padding-left: 0;
    padding-right: 0;	
}
.en-css{
	min-height:220px;}
/*Menu*/

.menu-a{
	font-size:18px;}
.m-menu{
	display:block;
	color:white;}
.sidenav a {
	color:white;
	padding-bottom:0;
	padding-left: 0;}	
.menu-w{
	display:none;}
p.menu-p {
    margin-bottom: 0;
}

}
@media all and (max-width: 980px){
.width50-left-div {
    width: 100%;
}
.width50-right-div {
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}

}
@media all and (max-width: 965px){
.fill-small-space{
	width: calc(50% - 200px);
	margin-bottom: 10px;
}
.yellow-box-width{
	margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
}
.fill-small-space-m{
	display:block;}
}
@media all and (max-width: 960px){
.register-video{
	margin-top: 150px;
}	
.first-profile-div {
    width: 50%;
}
.second-big-div {
    width: 50%;
    float: left;
    overflow: hidden;
}	
.second-profile-div {
    width: 100%;
    float: none;
}
.time-p-text {
    text-align: right !important;
}
.clock {
    margin-left: auto;
    text-align: right;
}
.third-profile-div {
    margin-top: 20px;
    width: 100%;
    float: none;
}
.left-recommend-div {
    width: 100%;}
.recommend-table p{
	font-size:18px;}
.right-recommend-div {
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
}
@media all and (max-width: 950px){
.three-column-h3 {
    font-size: 30px;
}
.three-column-p {
    font-size: 20px;
}
.three-column-div {
    min-height: 270px;
}
.next-to-btn-input {
    width: 100%;}
.tac-button1 {
    float: left;
    margin-top: 10px;
}
.notice-box {
    padding-bottom: 300px;
    min-height: 0 !important;
}
}
@media all and (max-width: 920px){
.first-td {
    width: 35%;
}
.third-td {
    width: 63%;
}


}
@media all and (max-width: 900px){
.left-text-div {
    font-size: 19px;
}
.login-width {
    width: 55%;
}
.button-icon-eye {
    right: 27%;
}
}
@media all and (max-width: 870px){
.btcw-h1 {
    font-size: 32px;
}
}
@media all and (max-width: 850px){
.ow-modal-width2 {
    width: 90% !important;
}
.download-p{
    font-size: 19px;	
}
.live-big-h1 {
    font-size: 28px;
}
.platform-logo {
    width: 75px;
	margin-top: 5px;
}
.live-half-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;	
}
.live-half-bottom{
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15x;
	padding-bottom: 5px;	
}
.live-half-p {
    font-size: 15px;
	margin-bottom: 2px;
}
.live-blue-text {
    font-size: 28px;
}
.live-mtop {
    margin-top: 60px;
}
}

@media all and (max-width: 830px){
.profile-checkbox{
	font-size:15px;}


}
@media all and (max-width: 800px){
.left-div{ 
	padding-top: 30px;
	float:none;
	width:100%;
	padding-left:25%;
	padding-right:25%;
}
.right-div{
	float:none;
	width:100%;
	min-height:0;
	overflow:hidden;}
.register-title {
    font-size: 27px;
}
.right-div-m{
	display:block;}
.right-div-w{
	display:none;}
.register-div{
	display:block;}
.register-video {
    margin-top: 30px;
	width:30%;
	margin-left:35%;
	margin-right:35%;
}
.coin-gif {
    width: 30%;
}
.launching-p {
    font-size: 24px;
}
.three-item-icon{
	margin-bottom: 10px;
}
.launching-p {
    font-size: 21px;
	font-weight:700;
}
.one-item-div {
    float: none;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.three-item-p {
    font-size: 20px;
}
.three-item-icon {
    width: 30%;
}
.yellow-button {
    font-size: 19px;
	width: 250px;
	margin-top: 30px;
}
.language-p {
    text-align: center;
}
.pre-register-div {
    margin-top: 80px;
}
.bitcoin-video {
    width: 30%;
}
.fill-up-space {
    width: calc(50% - 125px);}
.play-button {
    width: 40px;
    margin-right: 10px;
}
.date-p {
    margin-bottom: 5px;
}
.news-one-item-div {
    margin-top: 50px;
}
.des-p {
    font-size: 21px;
	margin-bottom: 20px;}
.more-separate-margin-top {
    margin-top: 60px;
}
.news-h1 {
    margin-bottom: 30px;
}
.margin-bottom{
	margin-bottom:10px;}
.confirm-register-div{
	padding-bottom:50px;}
.numbering{
	margin-top:20px;}
.second-numbering {
    margin-top: 40px;
}
.bit-h2{
	font-size:40px;}
.bitcoin-icon {
    width: 60px;
}
.bit2-h2{
	font-size:32px;
    width: 80%;	}
.qr-p2 {
    width: 80%;
	font-size:28px;}
.qr{
	width:100%;}
.qr-img{
    width: 100px;	
}
.ow-modal-width {
    width: 80% !important;
}
.three-column-h3{
	font-size: 25px;
}
.three-column-div {
    min-height: 250px;
}
.ow-modal10a {
    width: 300px !important;}
.box-img {
    width: 30%;
}
.qr-img2{
	width:250px !important;}
.ow-close2 {
    right: 11%;
}
.min-height-container {
    min-height: 285px;
}
.dark-table {
    font-size: 16px;
}
.dark-table th {
    padding: 2px 5px;}
.dark-table td {
    padding: 2px 5px;}	
.live-first-table th {
    padding-top: 7.5px;
    padding-bottom: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.live-first-table > tr:last-child > td {
    padding-bottom: 12px;
}
.live-first-table{
    border-radius: 5px;	
}
}
@media all and (max-width: 780px){
.edit2-h4 {
    font-size: 19px !important;
}	
}


@media all and (max-width: 750px){
.width60 {
    width: 100%;}



}

@media all and (max-width: 730px){
.left-recommend-div {
    width: 100%;
    float: none;
}
.right-recommend-div {
    float: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 50px;
}
.half-div-img {
    margin-top: 30px;
}
}
@media all and (max-width: 720px){
.color-recommend-div{
	clear:both;}
.color-div{
    padding-bottom: 20px;	
}
.dark-box {
    min-height: 470px !important;
}
.small-dark {
    min-height: 355px !important;
}
.small-dark2 {
    min-height: 310px !important;
}

.b-box {
    min-height: 675px !important;
}
.a-box1 {
    min-height: 650px !important;
}
}
@media all and (max-width: 705px){
.star-img {
    width: 20px;
}
}
@media all and (max-width: 700px){
.first-h1 {
    margin-top: 50px;}
.yellow-box-width{
	width: 300px;
    font-size: 21px;
}
.fill-small-space {
    width: calc(50% - 150px);
    margin-bottom: 5px;
}
.yellow-box-width{
    margin-bottom: 5px;	
}
.social-icon-div{
	margin-top: -40px;
}
.fill-up-space1 {
    width: calc(50% - 150px);
    height: 70px;
    float: left;
}
.invest-btn, .withdraw-btn{
	width:300px;}
.button-width {
    min-width: 100%;
}	
.login-width {
    width: 70%;
}
.profile-data-p {
    font-size: 18px;
}
.first-profile-div {
    width: 100%;
	float: none;
}
.time-p-text {
    text-align: left !important;
}
.clock {
    margin-left: 0;
    text-align: left;
}
.second-profile-div {
    width: 50%;
    float: left;
}
.third-profile-div {
    margin-top: 0;
    width: 50%;
    float: left;
	text-align:right;
}
.second-big-div {
    width: 100%;}
.first-h1 {
    padding-top: 20px;}
.actual-width4 {
    width: 220px;}
.fill-space4 {
    width: calc(50% - 110px);}
.button-icon-eye {
    right: 20.5%;
}
.notice-box {
    padding-bottom: 220px;
    min-height: 0 !important;
}
.notice-box-p {
    text-align: center;}
.tutorial-title {
    font-size: 21px;
}
.tutorial-p{
	font-size:16px !important;
}
}
@media all and (max-width: 680px){
.left-title {
    width: 100%;
}
.right-filter {
    width: 100%;
    padding-top: 10px;
}
.filter-select{
	width:auto;}
}
@media all and (max-width: 650px){
.right-img-div, .left-text-div{
	float:none !important;}
.right-img-div {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.left-text-div {
    font-size: 19px;
    width: 100%;
    padding: 0;
    text-align-last: center;
}
.first-td {
    width: 48%;
}
.third-td {
    width: 50%;
}
.link-h41 {
    display: none;
}
.link-h4 {
    display: block;
    width: 100%;
    float: left;
    word-break: break-all;
    font-size: 18px;
}
.right-edit {
    margin-top: -140px;
    margin-right: -60px;}
.inputb-country{
	width:90px;}
.inputb-mobile{
	width: calc(100% - 90px);
}
.recommend-tr {
    height: auto;
}
.width-two-column1, .width-two-column2 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
.extra-space {
    margin-left: 0;
}
.width-special {
    width: 80%;
    margin-left: 10%;
}
.bigger-title {
    font-size: 24px;
}
.live-three-div{
	width:46%;}
.live-three-middle {
    margin-left: 0;
    margin-right: 0;
}
.second-three-div {
    margin-left: 8%;
}
}
@media all and (max-width: 625px){
.extra-space {
    margin-top: 10px;
}

}
@media all and (max-width: 600px){
.left-div{
	padding-right:7.5%;
	padding-left:7.5%;}	
.launching-p{
	width:100%;}
.one-item-div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}	
.pre-register-input {
    width: 100%;
    margin-left: 0;
}
.yellow-icon-p {
    margin-left: 0;
}
.btcw-h1 {
    font-size: 27px;
}
.yellow-box-width {
    width: 250px;
    font-size: 18px;
}
.fill-small-space {
    width: calc(50% - 125px);
    margin-bottom: 0px;
}
.yellow-box-width {
    margin-bottom: 0;
	font-weight:600;
}
.first-h1 {
    margin-bottom: 20px;
}
.social-icon-div {
    margin-top: -30px;
    right: 2%;
}
.numbering {
    font-size: 20px;
}
.btcw-h4 {
    font-size: 21px;
}
.bit2-h2 {
    font-size: 28px;
    width: 100%;
    margin: 0;
}
.qr-p2 {
    width: 100%;
    font-size: 24px;
    margin: 0;
}
.recommend-table p {
    font-size: 18px;
}
.fill-up-space1 {
    width: calc(50% - 125px);}
.table100 th, .table100 td{
	padding-left:3px;
	padding-right:3px;}
.table100 {
    font-size: 12.5px;
}
.modal-fill-space-1 {
    display: none;
}
.invest-btn, .withdraw-btn {
    width: 100%;
}
.ow-form-h4{
	font-size:24px !important;
	padding-top: 20px;}
.two-column-p{
	font-size: 16px;
}
.ow-fill-up{
	height:50px;}
.three-column-div {
    width: 45%;}
.middle-div{
	margin-left:0;
	margin-right:0;}
.second-three{
	margin-left:10%;}
.ow-orange-line{
	width:100% !important;
}
.ow-orange-line{
	font-size:21px;}
.login-width {
    width: 100%;
}
.profile-data-p {
    font-size: 16px;
}
.edit-icon3 {
    width: 20px;}
.menu-content-distance {
    padding-top: 65px;
}
.green-dot {
    width: 15px;
    height: 15px;
	vertical-align: sub;}
.button-icon-eye {
    right: 8.5%;
}
.tab button {
    width: 16.2%;
}
.second-last-button{
	border-right: 2px solid #f7931a !important;
}
}
@media all and (max-width: 590px){
.live-first-table td, .live-first-table th {
    font-size: 13px !important;

}


}
@media all and (max-width: 580px){
.dark-box {
    min-height: 450px;
}	
#btc_address_text{
	    font-size: 14px !important;}	
}
@media all and (max-width: 575px){
.recommend-table p {
    font-size: 16px;
}

}
@media all and (max-width: 550px){
.language-p {
    text-align: center;
}
.table-width-div {
    width: 113%;
    margin-left: -6.5%;
}
.download-p {
    width: 70%;}
}
@media all and (max-width: 540px){
.edit2-h4 {
    font-size: 17px !important;}	
.form-check-label{
    font-size: 15px !important;	
}	
}
@media all and (max-width: 500px){
.register-video {
    margin-top: 25px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.btcw-h1 {
    font-size: 25px;
}
.social-icon {
    width: 25px;
}	
.news-p {
    font-size: 19px;
}
.first-td2 {
    width: 20%;
}
.third-td2 {
    width: 78%;
}
.withdraw-table .first-td2{
	width:50%;}
.withdraw-table .third-td2{
	width:48%;}
.three-column-h3 {
    font-size: 22px;
}
.three-column-p {
    font-size: 18px;
}
.three-column-div {
    min-height: 240px;
}
.action-btn-img {
    width: 20px;
}
.star-img {
    width: 20px;
}
.time-p-text {
    text-align: center !important;
}
.clock {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}
.third-profile-div {
    margin-top: 15px;
	width:100%;
	float:none;
	text-align:center;	
}
.second-profile-div {
    width: 100%;
    float: none;
}
.second-big-div {
    width: 100%;
    margin-top: 30px;
}
.dark-box {
    width: 100%;
    float: none;
	min-height: auto !important;}
.graph-bg{
	padding-bottom:140px;}
.second-dark {
    margin-left: 0;
}
.tree-bg {
    padding-bottom: 150px;
}
.star-bg {
	padding-bottom:100px;
	background-position:center;}
.empty-dark{
    padding-bottom: 30px;	
}
.qr-img2 {
    width: 180px !important;
}
.button-y-width {
    width: 250px !important;
}
.notice-img {
    width: 100px;
}
.notice1-p {
    font-size: 21px;}
.min-height-container {
    min-height: 0;
	padding-bottom: 10px;
}
.profile-box-mheight {
    min-height: 0;
}
.recommend-padding{
	padding: 0  !important;}
.table2-4 {
    word-break: normal;
}
.mini-top {
    min-height: 58px;
}
.market-normal-padding {
    padding-left: 7.5% !important;
    padding-right: 7.5% !important;
}
.live-blue-text{
	text-align: center;
}
.live-pbottom{
	padding-bottom:50px !important;}
.notice-box-p {
    font-size: 18px;
}
.notice-box{
	margin-top: 20px;
}
}
@media all and (max-width: 485px){
.menu-a {
    font-size: 14px;
	line-height: 23px;
}


}
@media all and (max-width: 480px){
.btcw-h4 {
    font-size: 18px;
}

.scroll-table-div {
    width: 114%;
    overflow: scroll;
    margin-left: -7%;
}
.search-input-div {
    width: 70%;}
}
@media all and (max-width: 460px){
#btc_address_text {
    font-size: 11px !important;
}
}
@media all and (max-width: 450px){
.bitcoin-video {
    width: 50%;
}
.register-button2{
	width:100%;}
.long-table th {
	min-width:60px;
}
.auto-width{
	min-width:auto !important;}
.box-big-font {
    font-size: 28px;}
.box-title {
    font-size: 17px;}
.separate-distance {
    margin-top: 10px;
}
.edit-password-div {
    width: 100% !important;
	padding-left:0 !important;
	padding-right:0 !important;}
.menu-right-div {
    width: calc(100% - 70px);}
.fill-space-200 {
    display: none;
}
.bigger-title {
    font-size: 21px;
}
.ow-button-en {
    width: 100% !important;
}
.ow-button-en2{
	width:100% !important;
}
}
@media all and (max-width: 430px){
.table100 {
    font-size: 12px;
}
.color-reward-div, .color-downline-div{
	clear:both;}
.color-recommend-div {
    clear: none;
}
}
@media all and (max-width: 400px){
.half-div-img {
    margin-top: 10px;
}
.right-recommend-div{
	padding-bottom: 20px;
}
.ow-modal-width {
    width: 90% !important;
}
.four-column-div {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.ow-modal10a {
    width: 220px !important;
}
.splash-img {
    width: 200px;
    margin-top: calc(50vh - 120px);
}
.graph-bg {
    padding-bottom: 100px;
}
.tree-bg {
    padding-bottom: 110px;
}
.ow-close2 {
    right: 5%;
}
.dark-table td {
    padding: 2px 7px;
	font-size: 13.5px;
}
.dark-table th {
    padding: 2px 7px;
	font-size: 12px;
}
.en-css{
	min-height:0px;}
.first-column {
    padding-left: 5px !important;
}
.last-column {
    padding-right: 5px !important;
}
.live-first-table td, .live-first-table th {
    font-size: 11px !important;
	padding-right:4px !important;
}
}
@media all and (max-width: 390px){
.second-three-div {
    margin-left: 0;
}
.live-three-div {
    width: 100%;
}
.gain-h1 {
    text-align: center;
}
.live-blue-text {
    font-size: 25px;
}
}
@media all and (max-width: 380px){
.footer-class{
	display:block;}
.footer1, .footer2, .footer3{
	width:100%;
	text-align:center;

}
.table2-3{
	word-break:break-all;}

}
@media all and (max-width: 360px){
.fill-space3{
	display:none;}
.button-space-div {
    width: 100%;}
.recommend-table p {
    font-size: 14px;
}
.table2-2{
	word-break:break-all;}
}
@media all and (max-width: 350px){
.yellow-box-width {
    width: 210px;
    font-size: 16px;
}
.fill-small-space {
    width: calc(50% - 105px);
    margin-bottom: 0px;
}
.fill-up-space1 {
    width: calc(50% - 105px);
}
.withdraw-table h4 {
    font-size: 14px;}
.withdraw-table input {
    font-size: 14px;}
.textarea-reason2 {
    font-size: 14px;}
.withdraw-table select {
    font-size: 14px;}
.withdraw-table option {
    font-size: 14px;}
}
@media all and (max-width: 345px){
.menu-a {
    font-size: 13px;
    margin-left: 10px;}	
	
}
@media all and (max-width: 335px){
.en-menu {
    font-size: 12px;
    margin-left: 5px;
}
}


@media all and (max-width: 320px){
.star-img {
    width: 18px;
}
}