@import url("https://fonts.googleapis.com/css?family=Exo 2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open Sans Condensed:300,300i,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=PT Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT Sans Caption:400,700&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT Sans Narrow:400,700&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto Slab:100,300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");

.wb-stl-pagetitle { font: normal normal 13px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-pagetitle a { font: normal normal 13px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-pagetitle a:hover { font: normal normal 13px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-pagetitle ul { list-style-image: url(''); }
.wb-stl-subtitle { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-subtitle a { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-subtitle a:hover { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-subtitle ul { list-style-image: url(''); }
.wb-stl-heading1 { font: normal normal 24px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading1 a { font: normal normal 24px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 34px; font-weight: bold; font-style: normal; }
.wb-stl-heading1 a:hover { font: normal normal 24px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 34px; font-weight: normal; font-style: normal; }
.wb-stl-heading1 ul { list-style-image: url(''); }
.wb-stl-heading2 { font: normal normal 18px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading2 a { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: none; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
.wb-stl-heading2 a:hover { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: underline; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
.wb-stl-heading2 ul { list-style-image: url(''); }
.wb-stl-heading3 { font: normal normal 16px Arial,Helvetica,sans-serif; color: #8a8a8a; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading3 a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-heading3 a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
.wb-stl-heading3 ul { list-style-image: url(''); }
.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
.wb-stl-normal ul { list-style-image: url(''); }
.wb-stl-highlight { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-highlight a { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
.wb-stl-highlight a:hover { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
.wb-stl-highlight ul { list-style-image: url(''); }
.wb-stl-special { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-special a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
.wb-stl-special a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
.wb-stl-special ul { list-style-image: url(''); }
.wb-stl-footer { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-footer a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-footer a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
.wb-stl-footer ul { list-style-image: url(''); }
.wb-stl-custom1 { font-size: 12px; }
.wb-stl-custom2 { font-size: 12px; }
.wb-stl-custom3 { font-size: 12px; }
.root > #wb_bgs_cont { padding-left: 0!important; padding-right: 0!important; }
.wb-elm-line { font-size: 1px; overflow: hidden; line-height: 1px; padding: 0; background: transparent; float: none; position: relative; }
html { position: relative; }


@media (min-width: 768px) {
	.wb-stl-pagetitle { font: normal normal 18px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 18px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 18px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url(''); }
	.wb-stl-subtitle { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal normal 38px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url(''); }
	.wb-stl-heading1 { font: normal normal 32px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 45px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 32px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 45px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 32px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 45px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url(''); }
	.wb-stl-heading2 { font: normal normal 18px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: none; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: underline; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url(''); }
	.wb-stl-heading3 { font: normal normal 16px Arial,Helvetica,sans-serif; color: #8a8a8a; text-decoration: none; text-align: left; line-height: 22px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 22px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url(''); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url(''); }
	.wb-stl-highlight { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url(''); }
	.wb-stl-special { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url(''); }
	.wb-stl-footer { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url(''); }
	.wb-stl-custom1 { font-size: 12px; }
	.wb-stl-custom2 { font-size: 12px; }
	.wb-stl-custom3 { font-size: 12px; }
}

@media (min-width: 992px) {
	.wb-stl-pagetitle { font: normal normal 26px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 26px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 26px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url(''); }
	.wb-stl-subtitle { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url(''); }
	.wb-stl-heading1 { font: normal normal 40px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 56px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 40px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 56px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 40px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 56px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url(''); }
	.wb-stl-heading2 { font: normal normal 18px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: none; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 18px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: underline; text-align: left; line-height: 30px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url(''); }
	.wb-stl-heading3 { font: normal normal 20px Arial,Helvetica,sans-serif; color: #8a8a8a; text-decoration: none; text-align: left; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal normal 20px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal normal 20px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url(''); }
	.wb-stl-normal { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 16px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 28px; font-weight: normal; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url(''); }
	.wb-stl-highlight { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 30px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url(''); }
	.wb-stl-special { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 20px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url(''); }
	.wb-stl-footer { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 14px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url(''); }
	.wb-stl-custom1 { font-size: 12px; }
	.wb-stl-custom2 { font-size: 12px; }
	.wb-stl-custom3 { font-size: 12px; }
}

@media (min-width: 1200px) {
	.wb-stl-pagetitle { font: normal normal 33px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-pagetitle a { font: normal normal 33px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle a:hover { font: normal normal 33px Helvetica,Arial,sans-serif; color: #2b2a26; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-pagetitle ul { list-style-image: url(''); }
	.wb-stl-subtitle { font: normal normal 58px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-subtitle a { font: normal normal 58px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle a:hover { font: normal normal 58px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-subtitle ul { list-style-image: url(''); }
	.wb-stl-heading1 { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 67px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading1 a { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 67px; font-weight: bold; font-style: normal; }
	.wb-stl-heading1 a:hover { font: normal normal 48px Helvetica,Arial,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 67px; font-weight: normal; font-style: normal; }
	.wb-stl-heading1 ul { list-style-image: url(''); }
	.wb-stl-heading2 { font: normal normal 22px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading2 a { font: normal normal 22px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: none; text-align: left; line-height: 36px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 a:hover { font: normal normal 22px Arial,Helvetica,sans-serif; color: #a2bd1d; text-decoration: underline; text-align: left; line-height: 36px; font-weight: bold; font-style: normal; }
	.wb-stl-heading2 ul { list-style-image: url(''); }
	.wb-stl-heading3 { font: normal normal 24px Arial,Helvetica,sans-serif; color: #8a8a8a; text-decoration: none; text-align: left; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-heading3 a { font: normal normal 24px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 a:hover { font: normal normal 24px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-heading3 ul { list-style-image: url(''); }
	.wb-stl-normal { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 34px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-normal a { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-normal a:hover { font: normal normal 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 34px; font-weight: normal; font-style: normal; }
	.wb-stl-normal ul { list-style-image: url(''); }
	.wb-stl-highlight { font: normal normal 23px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-highlight a { font: normal normal 23px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; line-height: 36px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight a:hover { font: normal normal 23px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 36px; font-weight: normal; font-style: normal; }
	.wb-stl-highlight ul { list-style-image: url(''); }
	.wb-stl-special { font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-special a { font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; font-weight: normal; font-style: normal; }
	.wb-stl-special a:hover { font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; font-weight: normal; font-style: normal; }
	.wb-stl-special ul { list-style-image: url(''); }
	.wb-stl-footer { font: normal normal 17px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
	.wb-stl-footer a { font: normal normal 17px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: underline; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer a:hover { font: normal normal 17px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; font-weight: bold; font-style: normal; }
	.wb-stl-footer ul { list-style-image: url(''); }
	.wb-stl-custom1 { font-size: 14px; }
	.wb-stl-custom2 { font-size: 14px; }
	.wb-stl-custom3 { font-size: 14px; }
}
